/* Основной контейнер */
.slider {
    position: relative;
    overflow: hidden;
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
}

/* Контейнер для изображений */
.slide-container {
    position: relative;
    height: 60vh;
    min-height: 100px;
}

/* Стиль для изображений */
.slide-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Активное изображение */
.slide-container img.active {
    opacity: 1;
}

/* Контроллеры */
.controls {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 700px;
    z-index: 9999;
}

.controls button {
    background-color: rgb(47, 196, 255);
    border: 2px solid black;
    font-size: 28px;
    color: black;
    cursor: pointer;
}

.controls button:hover {
    color: gray;
}

/* Точки-индикаторы */
.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .slide-container {
        height: 40vh;
    }
    .controls button {
        font-size: 20px;
    }
}